
<body>
  <div class="alert alert-info fade in">
<h1><p id="notice"><%= notice %></p>

<div class="col-md-offset-3 col-md-6">
<div class="alert alert-warning">
  <strong>Name:</strong>
  <p><%= @course.name %></p>
  <p>Shared by <%= @course.user.name %></p>
 </div>  
 </div> 

<%=image_tag("t01c387ea20619345aa.jpg")%>
<p>
  
  <%= link_to 'click here', @course.link %>
</p>

</h1>
</body>

<h2> ALL Comments</h2>
<% @course.comments.each do |comment| %>
<div class = "center">
 
  <p>
    <strong> Comment by <%= comment.user.name %>:
</strong>
   <p> <%= comment.content %></p>
        
  </p>
 

</div>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@course, @course.comments.build]) do |f| %>
   <div class = "center">
     <%= f.label :content %></br>
     <%= f.text_field :content, style: "width:600px;height:70px;font-size:50px;margin-bottom:30px"%>

   </div>
   <div class="col-md-offset-1 col-md-6">

<%= f.submit "Create new comment", class: "btn btn-primary " ,style: "width:400px;height:35px;font-size:20px;margin-left:270px;margin-bottom:20px" %>
   </div>
<% end %>
<br><br><br>
</div>




<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
